@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

main {
  background-color: #1bb9c7;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0px;
  color: white; }
  main .img-index {
    width: 100%; }
  main h1 {
    font-size: 36px;
    margin-bottom: 10px; }
  main h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  main p {
    font-size: 18px;
    line-height: 1.5; }

h2 {
  color: #002549; }

footer {
  width: 100%;
  background-color: pink;
  color: #a13c5e;
  margin-bottom: 0px;
  padding: 0px;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 0px;
  height: 100%; }

/*reset*/
.body-index {
  padding: 0px;
  margin: 0px;
  background-image: url(../Imagenes/fondopcindex.jpeg);
  background-size: cover;
  /* Ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  /* Evitar la repetición de la imagen */
  background-attachment: fixed;
  /* Fijar la imagen de fondo */
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  color: white; }
  .body-index .img-index {
    width: 100%; }
  .body-index h1 {
    font-size: 36px;
    margin-bottom: 0px; }
  .body-index h2 {
    font-size: 24px;
    margin-bottom: 0px; }
  .body-index p {
    font-size: 18px;
    line-height: 1.5; }

p {
  font-size: 18px;
  line-height: 1.5; }

@media only screen and (max-width: 575px) {
  /*fondo mobile*/
  .body-index {
    background-image: url(../Imagenes/fondoim.jpeg);
    background-size: cover;
    /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* Evitar la repetición de la imagen */
    background-attachment: fixed;
    /* Fijar la imagen de fondo */ } }

.grafico {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #000000;
  margin-top: 20px; }

.image {
  width: 100%; }

.barra {
  width: 100%;
  margin: 0px 5px;
  background-color: #8e1a2d; }

main {
  width: 100%; }

body {
  width: 100%; }

main {
  width: 100%; }

/*fondo mobile*/
@media only screen and (max-width: 575px) {
  .fondo-estadisticas {
    background-image: url(../Imagenes/fondocel22.jpg);
    background-size: cover;
    /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* Evitar la repetición de la imagen */
    background-attachment: fixed;
    /* Fijar la imagen de fondo */ } }

/*fondo pc*/
.fondo-estadisticas {
  background-color: black; }

.videos {
  display: inline;
  width: 100%; }

.fotos-galeria {
  background-image: url(../Imagenes/fondone.jpg);
  background-size: cover;
  /* Ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  /* Evitar la repetición de la imagen */
  background-attachment: fixed;
  /* Fijar la imagen de fondo */ }

/*zoom cuando pasa el mouse encima*/
.img1 :hover {
  transform: scale(1);
  transition: 2s;
  padding: 5px; }

.img2 :hover {
  transform: scale(1);
  transition: 2s;
  padding: 5px; }

.img3 :hover {
  transform: scale(1);
  transition: 2s;
  padding: 5px; }

.img4 :hover {
  transform: scale(1);
  transition: 2s;
  padding: 5px; }

.img5 :hover {
  transform: scale(1);
  transition: 2s;
  padding: 5px; }

/* Media Queries Mobile */
@media only screen and (max-width: 575px) {
  h2 {
    color: white; }
  img {
    width: 90%; }
  .img5 {
    visibility: hidden; }
  /*fondo mobile*/
  .fotos-galeria {
    background-image: url(../Imagenes/fondocelular.jpg);
    background-size: cover;
    /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* Evitar la repetición de la imagen */
    background-attachment: fixed;
    /* Fijar la imagen de fondo */ } }

/*fondo pc*/
.galeria2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }
  .galeria2 img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease; }
    .galeria2 img:hover {
      cursor: crosshair;
      width: 300px;
      opacity: 1;
      filter: contrast(120%); }

.body-noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #a13c5e;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 10px;
  color: white; }

.noticia {
  text-align: center;
  align-items: center;
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px; }

.noticia img {
  width: 100%; }

.noticia h2 {
  font-size: 1.2rem;
  margin-top: 10px; }

.noticia p {
  font-size: 1rem;
  color: #555; }

.n1 {
  width: 100%; }

.n2 {
  width: 100%; }

.n3 {
  width: 100%; }

.noticia :hover {
  transform: scale(1.02);
  transition: 2s; }

@media only screen and (max-width: 575px) {
  .body-noticias {
    background-image: url(../Imagenes/fondon.png);
    background-size: cover;
    /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* Evitar la repetición de la imagen */
    background-attachment: fixed;
    /* Fijar la imagen de fondo */ } }

.body-noticias {
  background-image: url(../Imagenes/fondonm.jpeg);
  background-size: cover;
  /* Ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  /* Evitar la repetición de la imagen */
  background-attachment: fixed;
  /* Fijar la imagen de fondo */ }
  .body-noticias h2 {
    color: black; }

.formulario {
  background-color: white;
  color: black;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
  .formulario label {
    display: block;
    font-weight: bold; }
  .formulario h2 {
    font-size: 1.5rem;
    margin-bottom: 10px; }

.campo {
  margin-bottom: 15px; }

.informacion {
  background-color: white;
  color: black;
  padding: 90px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px; }
  .informacion label {
    display: block;
    font-weight: bold; }
  .informacion input[type="text"],
  .informacion input[type="email"],
  .informacion textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; }
  .informacion h2 {
    font-size: 1.5rem;
    margin-bottom: 10px; }

contacto.html footer {
  padding: 0; }

@media only screen and (max-width: 575px) {
  .fondo-contacto {
    background-image: url(../Imagenes/fondomc.jpg);
    background-size: cover;
    /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat;
    /* Evitar la repetición de la imagen */
    background-attachment: fixed;
    /* Fijar la imagen de fondo */ } }

.fondo-contacto {
  background-image: url(../Imagenes/fondoc.jpg);
  background-size: cover;
  /* Ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat;
  /* Evitar la repetición de la imagen */
  background-attachment: fixed;
  /* Fijar la imagen de fondo */ }

.maps {
  width: 100%; }

header {
  background-color: pink;
  color: pink;
  padding: 0px; }
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; }
    header nav ul li {
      margin: 0 10px; }

nav {
  background-color: pink;
  color: #555; }
