@import "../scss/utils/variables";
@import "../scss/utils/mixin";
.grafico {width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #000000;
    margin-top: 20px;
  }
  .image{width: 100%}
  
  .barra {width: 100%;
    margin: 0px 5px;
    background-color: rgb(142, 26, 45);
  }

  main{width: 100%;}
  body{width: 100%;}main{width: 100%;}


/*fondo mobile*/
  @media only screen and (max-width: 575px){
  .fondo-estadisticas{background-image: url(../Imagenes/fondocel22.jpg); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-attachment: fixed; /* Fijar la imagen de fondo */}}
  
    /*fondo pc*/
    
    .fondo-estadisticas{background-color: black;}
    .videos{display: inline;width: 100%;}
    