@import "../scss/utils/variables";
@import "../scss/utils/mixin";
.fotos-galeria
  {background-image: url(../Imagenes/fondone.jpg); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
  background-repeat: no-repeat; /* Evitar la repetición de la imagen */
  background-attachment: fixed; /* Fijar la imagen de fondo */}
  /*zoom cuando pasa el mouse encima*/
  .img1 :hover{transform: scale(1.00);transition: 2s;padding: 5px;}
  .img2 :hover{transform: scale(1.00);transition: 2s;padding: 5px;}
  .img3 :hover{transform: scale(1.00);transition: 2s;padding: 5px;}
  .img4 :hover{transform: scale(1.00);transition: 2s;padding: 5px;}
  .img5 :hover{transform: scale(1.00);transition: 2s;padding: 5px;}
 
      /* Media Queries Mobile */
@media only screen and (max-width: 575px){h2{color: rgb(255, 255, 255);}
img{width: 100%;}
    .img5 {
      visibility: hidden;}
      /*fondo mobile*/
       .fotos-galeria{background-image: url(../Imagenes/fondocelular.jpg); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
        background-repeat: no-repeat; /* Evitar la repetición de la imagen */
        background-attachment: fixed; /* Fijar la imagen de fondo */}
  }
  /*fondo pc*/

  .galeria2 {
    display: flex;
    align-items: center;justify-content: center; 
    width: 100%;
    height: 100%;
     img {
             width: 0;
            flex-grow: 1;
             object-fit: cover;
             opacity: 0.8;
             transition: 0.5s ease;
             &:hover {
             cursor: crosshair;
             width: 300px;
                opacity: 1;
                filter: contrast(120%);
                }
                }
                }
               