@import "../scss/utils/variables";
@import "../scss/utils/mixin";

/*reset*/

 .body-index {padding: 0px;margin: 0px;background-image: url(../Imagenes/fondopcindex.jpeg); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-attachment: fixed; /* Fijar la imagen de fondo */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    .img-index{width: 100%;}  
    h1{   font-size: 36px;
        margin-bottom: 0px;}h2 {
            font-size: 24px;
            margin-bottom: 0px;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
        }
}


p {
    font-size: 18px;
    line-height: 1.5;
}
@media only screen and (max-width: 575px){
/*fondo mobile*/

.body-index{background-image: url(../Imagenes/fondoim.jpeg); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
 background-repeat: no-repeat; /* Evitar la repetición de la imagen */
 background-attachment: fixed; /* Fijar la imagen de fondo */}}
