@import "../scss/utils/variables";
@import "../scss/utils/mixin";

.body-noticias {display: flex;flex-direction: column;align-items: center;text-align: center;justify-content: center;
    background-color:rgb(161, 60, 94);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 10px;
    color: rgb(255, 255, 255);}

    .noticia {text-align: center;align-items: center;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  
  .noticia img {
    width: 100%;
  }
  
  
  .noticia h2 {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  
  .noticia p {
    font-size: 1rem;
    color: #555;
  }
  
  
  .n1 {
    width: 100%;
 
  }
  
  
  .n2 {
    width: 100%;
   
  }
  
  
  .n3 {
    width: 100%;
  }

  //hacer que se agrenden las noticias
  
  .noticia :hover{transform: scale(1.02);transition: 2s;}
  
  @media only screen and (max-width: 575px){.body-noticias{background-image: url(../Imagenes/fondon.png); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-attachment: fixed; /* Fijar la imagen de fondo */}}

  .body-noticias{background-image: url(../Imagenes/fondonm.jpeg); background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evitar la repetición de la imagen */
    background-attachment: fixed; /* Fijar la imagen de fondo */}